<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Ma superbe app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</head>
<body>
<h1 class="text-center mb-4">Bonjour et bienvenue !</h1>
<div class="container mt-5">

    <div class="text-left">
        <form  th:action="@{/adresses}"  method="get">
            <button type="submit" class="btn btn-primary text-center mt-4 mb-4" >Gérer les adresses disponibles</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">

<div th:if="${erreur}">
    <div class="alert alert-danger mt-3 mb-2" role="alert">
        L'un des emails ou les deux existent déjà ! Insertion ou modification non fait
    </div>
</div>
    </div>
</div>
<div class="container mt-5">
    <form  th:action="@{/Addcontact}" th:object="${contact}" method="post">
        <div class="row">

            <div class="col">

                <label for="firstName">Prénom</label>
                <input id="firstName" name="firstName" type="text" class="form-control" required>
            </div>
            <div class="col">
                <label for="lastName">Nom</label>
                <input id="lastName" name="lastName" type="text"  class="form-control" required>
            </div>
            </br>

            <div class="col">
                <label for="emailPersonnel">Email personnel</label>
                <input id="emailPersonnel" name="emailPersonnel" type="email" class="form-control" required>
            </div>
            <div class="col">
                <label for="emailProfessionnel">Email professionnel</label>
                <input id="emailProfessionnel" name="emailProfessionnel" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="adresses">Adresses</label>
                <select class="form-control selectpicker" name="adresses" id="adresses" multiple>

                    <option th:each="part : ${addrs}"
                            th:value="${part.id}"
                            th:text="${part.getTotal}">
                    </option>

                </select>
            </div>



            <div class="text-center">

                <button type="submit" class="btn btn-primary text-center mt-4 mb-4" >Ajouter</button>
            </div>

        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th th:text="Id" scope="col" class="text-center"></th>
                <th th:text="Prénom" scope="col" class="text-center"></th>
                <th th:text="Nom" scope="col" class="text-center"></th>
                <th th:text="Adresses" scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${liste}">
                <th th:text="${e.getId()}" scope="row" class="text-center"></th>
                <td  th:text="${e.getFirstName()}" class="text-center"></td>
                <td th:text="${e.getLastName()}" class="text-center"></td>
                <td class="text-center">
                    <ul th:each="adresse : ${e.getAdresses()}">
                        <p th:text="${adresse.getTotal()}"></p>
                    </ul>
                </td>
                <td class="text-center col-md-1">
                    <form action="#" th:action="@{/Modifcontact}" th:object="${contact}" method="post">
                        <input name="id" type="hidden" th:value="${e.getId()}">
                        <input name="firstName" type="hidden" th:value="${e.getFirstName()}" >
                        <input name="lastName" type="hidden" th:value="${e.getLastName()}">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </td>
                <td class="text-center col-md-1">
                    <form action="#" th:action="@{/Deletecontact}" th:object="${contact}" method="get">
                        <input name="id" type="hidden" th:value="${e.getId()}">
                        <input name="firstName" type="hidden" th:value="${e.getFirstName()}" >
                        <input name="lastName" type="hidden" th:value="${e.getLastName()}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

